.ask-container{
    max-width: 812px;
    width: 100%;
    max-height: 500px;
    list-style: none;

    color: white;
    background: #303030;
    margin: 10px auto;

    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: max-height 0.5s ease;
}
.ask-container div:nth-child(1){
    min-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px solid black;
    padding: 0 1rem;
}
.ask-container div:nth-child(1) h1{
    font-weight: 400;
    font-size: 1rem;
}
.ask-container div:nth-child(1) svg{
    font-size: 2rem;
}
.ask-container div:nth-child(2) p{
    padding: 30px;
    font-size: 1.3rem;
    text-align: initial;
}
.answer{
    overflow-y: hidden;
}
.close {
    max-height: 72px;
    transition: max-height 0.5s linear;
    overflow-y: hidden;
}