* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Noto Sans Warang Citi', sans-serif;
  overflow-x: hidden;
}
body{
  background-color: black;
}
#root{
  width: 100vw;
}